.login-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2a3e;
    color: white;
    font-size: 24px;
    border-radius: 20px;

}

.screen-container{
    width: calc(100% - 100px);
    min-height: 100vh;
    background-color: #1e2a3e;
    border-radius: 20px;
}