.main{
    width: 100px;
    background-color: rgb(99, 48, 238);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    justify-items: center;
    padding-top: 10px;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.profileimg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
}