.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 300px;
}

.heading{
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.login-button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}